button {
  margin: 2px;
  padding: 5px 10px;
}

.datos {
    margin: 25px;
    font-size: 1.5rem;
}

.teclado {
    width: 40%;
    margin: 25px auto;
    background-color: var(--pico-contrast);
    padding: 10px;
    border-radius: 5px;
}

.ahorcado {
  padding: 25px;
  border-radius: 10px;
  width: 50vw;
  margin: 50px auto;
  background-color: var(--pico-background-color);
  text-align: center;
}

h1 {
  margin: 25px;
}

.score {
  text-align: right;

}

.error {
  color: red;
}

.color {
  color: var(--pico-primary);
}


#resultados {
  --pico-background-color: var(--pico-primary-background);
  --pico-border-color: var(--pico-primary-border);
  --pico-color: var(--pico-primary-inverse);
  --pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: none;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  color: var(--pico-color);
  font-weight: var(--pico-font-weight);
  font-size: 1rem;
  line-height: var(--pico-line-height);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);
  margin-left: 25px;
}