
<section class="preguntados"> 
    <h2 class="pulsando" > Preguntados! </h2>

    @if(gameOver){
        <h3> Juego terminado! </h3>
        
        <section class="game-over"> 
            <button (click)="reiniciar()" [hidden]="!gameOver"> Jugar de nuevo </button>
            <a routerLink="/resultados" routerLinkActive="active" id="resultados"> Resultados </a>    
        </section>
           
    }
    <p class="puntos"> Puntos: {{ score }}</p>

    <div class="container-pregunta">
        
        @if(preguntaActual) {
            <p class="pregunta"> Pregunta {{preguntasVistas.length}}: <span class="italic">{{ preguntaActual.pregunta }}</span></p>
        }
   
        @if(respuestaSeleccionada) {
            @if(esCorrecta) {
                <h3 class="verde"> Correcto ✔️ </h3>
            } @else {
                <h3 class="rojo"> Incorrecto ❌</h3>
            }
        }

        <div class="opciones">
            @if (preguntaActual) {
                <ul>
                    @for(opcion of preguntaActual.opciones; track $index){
                        <li>
                            <button [disabled]="respuestaSeleccionada" 
                            (click)="respuesta(preguntaActual, opcion)" 
                            [ngClass]="{
                                'correcta':(respuestaSeleccionada === opcion && esCorrecta) || (respuestaSeleccionada != null && opcion == preguntaActual.respuestaCorrecta) ,
                                'incorrecta': respuestaSeleccionada === opcion && !esCorrecta
                            }"> 
                                {{ opcion }}
                            </button>
                        </li>
                    }
                </ul>
            }
        </div>

    </div>

    
    <button (click)="siguiente()" [hidden]="gameOver" [disabled]="!respuestaSeleccionada"> Siguiente </button>
        
    <div class="container-resultados" [hidden]="gameOver">
        <a routerLink="/resultados" routerLinkActive="active" id="resultados"> Resultados </a>
    </div>
    

</section>
