.chat {
    box-sizing: content-box;
    width: 60vw;
    height: 60vh;
    background-color: grey;
    margin: 100px auto;
}

.titulo {
    background-color: var(--pico-form-element-background-color);
    padding: 5px;
    text-align: center;
    
    h5 {
        margin: 5px;
    }
}

.display {
    background-color: var(--pico-form-element-background-color);
    width: 100%;
    height: 80%;
    margin: 0 auto;
    overflow-y: scroll;
}

.caja {
    display: flex;
}

input[type="submit"] {
    display: inline;
    width: 10%;
}

.messages {
    color: black;
}

.message {
    border-radius: 5px;
    max-width: 70%;
    margin: 25px 15px 25px;
}

.text {
    color: black;
    border-radius: 5px;
    background-color: greenyellow;
    padding: 15px;
}

.metadata {
    font-size: 0.75rem;
    text-align: right;
}