<nav>
    <div class="left">
        <label for="switch" class="theme-toggle">
            <input type="checkbox" role="switch" name="switch" id="switch" (change)="changeTheme()">
        </label>
    </div>

    <div class="center">
        <a routerLink="/bienvenida" routerLinkActive="active">Bienvenida</a>

        <a routerLink="/quien-soy" routerLinkActive="active">Quien soy</a>

        <a routerLink="/chat" routerLinkActive="active" [hidden]="!isLogged">Chat</a>
    </div>
        
    <div class="right">
        
        <a id="login" routerLink="/login" routerLinkActive="active" [hidden]="isLogged">Login</a>

        <a id="registrarse" routerLink="/registro" routerLinkActive="active" [hidden]="isLogged">Registrarse</a>
        
        <button (click)="signOut()" [hidden]="!isLogged"> Cerrar sesion </button>
    </div>

</nav>
