<div class="bienvenida">

 
  <h1 class="titulo pulsando"> Bienvenido a la Sala de juegos</h1>
  
  <mat-grid-list cols="2" rowHeight="2:1.5" gutterSize="0px">
    @for (juego of juegos; track juego) {
      <a routerLink="{{juego.url}}" routerLinkActive="active">
        <mat-grid-tile class="holographic-card">
          <img [src]="juego.img_url" [alt]="juego.text">
          <span class="titulo-juego">
            {{juego.text}}
          </span>
        </mat-grid-tile>
      </a>
    }
  </mat-grid-list>

</div>