.mat-grid-list {
    width: 60vw;
    margin: 100px auto;
    padding-bottom: 1000px !important;
}


.mat-grid-tile {
    
    /* background-color: var(--pico-secondary); */
    border-radius: 0px;
    background-size: 100% 100%;
    background-position: center;
    
    
}
.mat-grid-content {
    position: relative;
    padding: 50px;
}

.mat-grid-tile:hover {
    
    box-shadow: 0 0 40px rgba(255, 255, 255, 1);
    border-radius: 10px;
    transition: 0.1s;

    img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        display: inline;
        
    }

    .titulo-juego {
        transition: 0.1s;
        visibility: hidden;
    }
}

img {
    /* border: 5px solid var(--pico-primary-border); */
    height:  calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 10px;
    transition: width 0.1s, height 0.1s;
}

h2, h3{
    text-align: center;
}

.titulo-juego {
    background-color: var(--pico-form-element-background-color);
    
    color: var(--pico-contrast);
    font-style: italic;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -20%);
    opacity: 0.8;
    font-size: 1.25rem;
    border-radius: 10px;
    padding: 5px 10px;
    visibility: hidden;
}


/*  */
  