form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.field {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

input[type="submit"] {
    width: 50%;
    align-self: center;
}

small {
    color: firebrick;
}

input[type="email"], input[type="password"] {
    padding-block: 10px;
    padding-inline: 10px;
}

.container {
    background-color: var(--pico-background-color);
    border: 5px solid var(--pico-primary-border);
    width: 25dvw;
    margin: 50px auto;
    box-sizing: content-box;
    padding: 50px;
    border-radius: 15px;
}

.container:hover {
    
    border: 5px solid var(--pico-primary-hover);
    
}

a {
    text-align: center;
}

.mensaje {
    text-align: center;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
}