.container {
  margin: 50px auto;
  width: 1000px;
  height: 1000px;
  position: relative;
}

.tile {
  position: absolute;
  width: 64px;
  height: 64px;
}

.jugador {
  /* background-color: white;  */
  /* background-image: url("assets/images/juego-propio/player_23.png"); */
  transition: all 0.1s linear;
}

.pared {
  /* background-color: red; */
  /* background-image: url("assets/images/juego-propio/block_04.png"); */
  transition: all 0.1s linear;
}

/* .caja  {
  /* background-color: burlywood; */
  /* background-image: url("assets/images/juego-propio/crate_02.png"); 

} */



.caja-destino {
  background-color: rgb(222, 184, 135, 0.5);
  /* background-image: url("assets/images/juego-propio/crate_05.png"); */
}

.jugador-destino {
  background-color: rgb(255, 255, 255, 0.5);
  /* background-image: url("assets/images/juego-propio/player_05.png"); */

}


.titulos {

  button {
    display: inline-block;
  }
  
  span {
    font-style: italic;
    color: var(--pico-background-color);

  }

  p{
    display: flex;
    justify-content: space-between;
  }

  font-style: italic;
  width: 90vw;
  margin: 0 auto;
  margin-top: 15px;

}

.level-over {
  text-align: center;
}


.datos {
  display: flex;
  gap: 15px;
}

.separador {
  display: flex;
  justify-content: space-between;
  height: fit-content;

  button {
    padding: 10px;
    height: 25px;
    box-sizing: content-box;
  }
}


#resultados {
  --pico-background-color: var(--pico-primary-background);
  --pico-border-color: var(--pico-primary-border);
  --pico-color: var(--pico-primary-inverse);
  --pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  outline: none;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  color: var(--pico-color);
  font-weight: var(--pico-font-weight);
  font-size: 1rem;
  line-height: var(--pico-line-height);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);
}