ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

li {
    position: static;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pico-form-element-background-color);
}

/* nav:hover {
    background-color:var(--pico-primary-hover);
} */

:where(nav li)::before {
    content: unset;
}

.theme-toggle {
    margin-left: auto;
    margin-right: 25px;
    display: inline;
}