<nav>
    <ul>
        <li>
            <a routerLink="/bienvenida" routerLinkActive="active">Bienvenida</a>
        </li>
        <li>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
            <a routerLink="/registro" routerLinkActive="active">Registro</a>
        </li>
        <li>
            <a routerLink="/quien-soy" routerLinkActive="active">Quien soy</a>
        </li>

        
        <label for="switch" class="theme-toggle">
            
            <input type="checkbox" role="switch" name="switch" id="switch" (change)="changeTheme()">

            Cambiar tema
        </label>
        
    </ul>
    
</nav>
