li {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: left;
    gap: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
}

:where(nav li)::before {
    content: unset;
}