<select [(ngModel)]="juegoSeleccionado" (change)="cargarResultados()">
  <option *ngFor="let juego of juegos" [value]="juego">{{ juego }}</option>
</select>

<div class="tabs">
  <button 
    [class.active]="activeTab === 1" 
    (click)="setActiveTab(1)">
    Resultados personales
  </button>

  <button 
    [class.active]="activeTab === 2" 
    (click)="setActiveTab(2)">
    Top de jugadores
  </button>
</div>

<div class="content" [hidden]="activeTab !== 1">
    @if(resultados.length > 0) {
        <table class="resultados">
            <thead>
                <tr>
                    @for (columna of columnasPropios ; track $index) { 
                        @if(columna != "user_id") {
                            <th>{{columna}}</th> 
                        }
                    }
                    
                </tr>
            </thead>
            <tbody>
                @for (resultado of resultados| keyvalue; track resultado.key) {
                    <tr>
                        @for (par of resultado.value | keyvalue; track $index;) {
                           
                            @if (columnasPropios[$index] == "created_at") {
                            <td> {{resultado.value[columnasPropios[$index]] | date:'YYYY-MM-dd HH:mm' }}</td>
                            }
                            @else if(columnasPropios[$index] != "user_id" ) {
                                <td> {{resultado.value[columnasPropios[$index]]}}</td>
                                 
                            }
                        }
                    </tr>
                    }
            </tbody>
        </table>
    } @else {
        <h2 class="empty">Sin resultados para el jugador.</h2>
    } 
</div>

<div class="content"  *ngIf="activeTab === 2">
    <table class="top" *ngIf="top.length > 0">
        <thead>
            <tr>
                @for (columna of columnasTop ; track $index) {  
                    @if(columna != "user_id") {
                        <th>{{columna}}</th> 
                    }
                }
            </tr>
        </thead>
        <tbody>
            @for (resultado of top| keyvalue; track resultado.key) {
                <tr>
                    @for (par of resultado.value | keyvalue; track $index;) {
                        @if (columnasTop[$index] == "created_at") {
                            <td> {{resultado.value[columnasTop[$index]] | date:'YYYY-MM-dd HH:mm' }}</td>
                        }
                        @else if(columnasTop[$index] != "user_id" ) {
                            <td> {{resultado.value[columnasTop[$index]]}}</td>
                        } 
                    }
                </tr>
                }
        </tbody>
    </table>
</div>






